<div class="container">

    <h3 style="margin-top: 30px;">Details About - <span>{{person.name}}</span></h3>
    <hr>

    <table class="table table-borderless" style="margin-top: 30px;">
        <tr>
            <td style="max-width: 200px"><label>Person Name </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{person.name}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Date Of Birth </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{person.dob}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Gender </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{person.sex}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Person Type </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{person.type}}</div>
            </td>
        </tr>
        <br>
        <tr>
            <td style="max-width: 200px"><label>Films </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 15px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let film of films">
                            <td>
                                <div><label class="cstm-hover"
                                            routerLink="/films/{{ film.id }}/"
                                >{{film.title}}</label></div>
                            </td>
                            <td><p-rating [ngModel]="film.rating" [cancel]="false" [readonly]="true"></p-rating></td>
                            <td>{{film.releaseDate}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <br>
        <tr>
            <td style="max-width: 200px"><label>Sub Films </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 15px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let film of subFilms">
                            <td>
                                <span><label class="cstm-hover" (click)="openModal(film.id)">{{film.title}}</label></span>
                            </td>
                            <td><p-rating [ngModel]="film.rating" [cancel]="false" [readonly]="true"></p-rating></td>
                            <td>{{film.releaseDate}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

</div>

<div>
    <modal #subFilmDetailsModal>
        <modal-header>
            <h4>Sub Film Details</h4>
        </modal-header>
        <modal-content>
            <div class="container">

                <h5 style="margin-top: 30px;">Details About - <span>{{subFilm.title}}</span></h5>
                <hr>

                <table class="table table-borderless" style="margin-top: 30px;">
                    <tr>
                        <td style="max-width: 200px"><label>Film Name </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.title}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Film Rating </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">
                                <p-rating [ngModel]="subFilm.rating" [cancel]="false" [readonly]="true"></p-rating>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Description </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.description}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Release Date </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.releaseDate}}</div>
                        </td>
                    </tr>

                    <tr>
                        <td style="max-width: 200px"><label>Film Persons </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 15px;">
                                <table class="table table-borderless">
                                    <tr *ngFor="let person of subFilmPersons">
                                        <div><label>{{person.name}}</label></div>
                                        <hr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Film Genre </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 15px;">
                                <table class="table table-borderless">
                                    <tr *ngFor="let genre of subFilmGenres">
                                        <div><label>{{genre.name}}</label></div>
                                        <hr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </modal-content>
        <modal-footer>
            <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
        </modal-footer>
    </modal>
</div>
