<div class="container">

    <h3 style="margin-top: 30px;">Details About - <span>{{film.title}}</span></h3>
    <hr>

    <table class="table table-borderless" style="margin-top: 30px;">
        <tr>
            <td style="max-width: 200px"><label>Film Name </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{film.title}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Film Rating </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{film.rating}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Description </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{film.description}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Release Date </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">{{film.releaseDate}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Episodes </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let sub of subFilms">
                            <div><label class="cstm-hover" (click)="openModal(sub.id)">{{sub.title}}</label></div>
                            <hr>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td style="max-width: 200px"><label>Film Persons </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let person of filmPersons">
                            <div><label>{{person.name}}</label></div>
                            <hr>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td style="max-width: 200px"><label>Film Genre </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 20px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let genre of filmGenres">
                            <div><label>{{genre.name}}</label></div>
                            <hr>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

    </table>

</div>

<div>
    <modal #detailsModal>
        <modal-header>
            <h5>Sub Film Details</h5>
        </modal-header>
        <modal-content>
            <div class="container">

                <h5 style="margin-top: 30px;">Details About - <span>{{subFilm.title}}</span></h5>
                <hr>

                <table class="table table-borderless" style="margin-top: 30px;">
                    <tr>
                        <td style="max-width: 200px"><label>Film Name </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.title}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Film Rating </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.rating}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Description </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.description}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Release Date </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">{{subFilm.releaseDate}}</div>
                        </td>
                    </tr>

                    <tr>
                        <td style="max-width: 200px"><label>Film Persons </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">
                                <table class="table table-borderless">
                                    <tr *ngFor="let person of subFilmPersons">
                                        <div><label>{{person.name}}</label></div>
                                        <hr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="max-width: 200px"><label>Film Genre </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 20px;">
                                <table class="table table-borderless">
                                    <tr *ngFor="let genre of subFilmGenres">
                                        <div><label>{{genre.name}}</label></div>
                                        <hr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                </table>

            </div>
        </modal-content>
        <modal-footer>
            <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
        </modal-footer>
    </modal>
</div>
