<div class="container">

    <h3 style="margin-top: 30px;">Details About - <span>{{film.title}}</span></h3>
    <hr>

    <table class="table table-borderless" style="margin-top: 30px;">
        <tr>
            <td style="max-width: 200px"><label>Film Name </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 50px;">{{film.title}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Film Rating </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 50px;">{{film.rating}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Description </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 50px;">{{film.description}}</div>
            </td>
        </tr>
        <tr>
            <td style="max-width: 200px"><label>Release Date </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 50px;">{{film.releaseDate}}</div>
            </td>
        </tr>
        <br>
        <tr>
            <td style="max-width: 200px"><label>Episodes </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 45px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let sub of subFilms">
                            <td><div><label class="cstm-hover" (click)="openModal(sub.id)">{{sub.title}}</label></div></td>
                            <td style="margin-bottom: 5px;"><button class="btn btn-outline-primary" (click)="openEditModal(sub.id)">Edit</button></td>
                            <hr>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td style="max-width: 200px"><label>Film Persons </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 45px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let person of filmPersons">
                            <div>{{person.name}}</div>
                            <hr>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td style="max-width: 200px"><label>Film Genre </label></td>
            <td>:</td>
            <td>
                <div style="margin-left: 45px;">
                    <table class="table table-borderless">
                        <tr *ngFor="let genre of filmGenres">
                            <div>{{genre.name}}</div>
                            <hr>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

    </table>

</div>

<div>
    <modal #detailsModal>
        <modal-header>
            <h4>Sub Film Details</h4>
        </modal-header>
        <modal-content>
            <div class="container">

                <h5 style="margin-top: 30px;">Details About - <span>{{subFilm.title}}</span></h5>
                <hr>

                <table class="table table-borderless" style="margin-top: 30px;">
                    <tr>
                        <td style="max-width: 200px"><label>Film Name </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 50px;">{{subFilm.title}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Film Rating </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 50px;">{{subFilm.rating}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Description </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 50px;">{{subFilm.description}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 200px"><label>Release Date </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 50px;">{{subFilm.releaseDate}}</div>
                        </td>
                    </tr>

                    <tr>
                        <td style="max-width: 200px"><label>Film Persons </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 45px;">
                                <table class="table table-borderless">
                                    <tr *ngFor="let person of subFilmPersons">
                                        <div><label>{{person.name}}</label></div>
                                        <hr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="max-width: 200px"><label>Film Genre </label></td>
                        <td>:</td>
                        <td>
                            <div style="margin-left: 45px;">
                                <table class="table table-borderless">
                                    <tr *ngFor="let genre of subFilmGenres">
                                        <div><label>{{genre.name}}</label></div>
                                        <hr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                </table>

            </div>
        </modal-content>
        <modal-footer>
            <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
        </modal-footer>
    </modal>
</div>

<div>
    <modal #editSubFilmModal>
        <modal-header>
            <h4>Edit Sub Film</h4>
        </modal-header>
        <modal-content>

            <form class="form-control" [formGroup]="form">

                <div class="form-group" [ngClass]="displayFieldCss('title')">
                    <div class="col-sm-12">
                        <label for="title" class="control-label required">Film/Sub Film Name</label>
                        <input type="text" id="title" class="form-control"
                               formControlName="title">
                        <app-field-error-display [displayError]="isFieldValid('title')"
                                                 errorMsg="Film Name is required">
                        </app-field-error-display>
                    </div>
                </div>

                <div class="form-group" [ngClass]="displayFieldCss('description')">
                    <div class="col-sm-12">
                        <label for="description" class="control-label required">Description</label>
                        <input type="text" id="description" class="form-control"
                               formControlName="description">
                        <app-field-error-display [displayError]="isFieldValid('description')"
                                                 errorMsg="Description is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div class="form-group" [ngClass]="displayFieldCss('releaseDate')">
                    <div class="col-sm-12">
                        <label for="releaseDate" class="control-label required">Release Date </label>
                        <p-calendar id="releaseDate"
                                    class="form-control"
                                    formControlName="releaseDate"
                                    [(ngModel)]="selectedReleaseDate"
                                    [readonlyInput]=true
                                    [showIcon]=true
                        ></p-calendar>
                        <app-field-error-display [displayError]="isFieldValid('releaseDate')"
                                                 errorMsg="Release Date is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div class="form-group" [ngClass]="displayFieldCss('genre')">
                    <div class="col-sm-12">
                        <label for="genre" class="control-label required">Genre List</label>
                        <p-multiSelect
                                id="genre"
                                class="form-control"
                                formControlName="genre"
                                [options]="genres"
                                [(ngModel)]="selectedGenres"
                                optionLabel="name"
                                optionValue="id"
                                defaultLabel="Select Geners"
                        ></p-multiSelect>
                        <app-field-error-display [displayError]="isFieldValid('genre')"
                                                 errorMsg="Genre is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div [ngClass]="displayFieldCss('filmPerson')">
                    <div class="col-sm-12">
                        <label for="filmPerson" class="control-label required">Film Person</label>
                        <p-multiSelect
                                id="filmPerson"
                                class="form-control"
                                formControlName="filmPerson"
                                [options]="persons"
                                [(ngModel)]="selectedPersons"
                                optionLabel="name"
                                optionValue="id"
                                defaultLabel="Select a Film Person"
                        ></p-multiSelect>
                        <app-field-error-display [displayError]="isFieldValid('filmPerson')"
                                                 errorMsg="Film Person is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>
            </form>

        </modal-content>
        <modal-footer>
            <button class="btn btn-outline-danger" (click)="closeModal()">Close</button> &nbsp;
            <button class="btn btn-outline-success" (click)="update()">Update</button>
        </modal-footer>
    </modal>
</div>
