<div class="container">
    <p-toast key="toast-key"
             position="top-right"
    ></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <h2 style="margin-top: 5px;">Film List</h2>
    <hr>
    <br>
    <button style="margin-bottom: 10px;" class="btn btn-outline-info"
            (click)="openModal()"
    >Add New
    </button> &nbsp;&nbsp;
    <div style="float: right">
        <input [(ngModel)]="searchTxt" type="text" placeholder="search film">
        <button (click)="searchData()">Search</button> &nbsp;
        <button (click)="getAllFilms()">Refresh</button>
    </div>
    <div>
        <p-table [value]="films">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Release Date</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-film>
                <tr>
                    <td>{{film.id}}</td>
                    <td><span style="cursor: pointer; color: #3763ea"
                              routerLink="films/{{ film.id }}/">{{film.title}}</span></td>
                    <td>{{film.description}}</td>
                    <td style="min-width: 130px">{{film.releaseDate}}</td>
                    <td style="min-width: 180px">
                        <button class="btn btn-outline-danger" (click)="confirmDelete($event, film.id)">Delete</button>
                        &nbsp;
                        <button class="btn btn-outline-primary" (click)="openModal(film.id)">Edit</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <br>
    <br>
    <br>
</div>

<div>
    <modal #myModal>
        <modal-header>
            <h4>Add New Film</h4>
        </modal-header>
        <modal-content>

            <form class="form-control" [formGroup]="form">

                <div *ngIf="isNew">
                    <p-checkbox formControlName="subFilm" [binary]="true"
                                (onChange)="handleSubFilm($event)"></p-checkbox>
                    Is Sub Film
                </div>
                <br>
                <br>

                <div *ngIf="isSubFilm" class="form-group" [ngClass]="displayFieldCss('filmList')">
                    <div class="col-sm-12">
                        <label for="filmList" class="control-label required">Film List</label>
                        <p-dropdown
                                id="filmList"
                                class="form-control"
                                formControlName="filmList"
                                [options]="films"
                                [(ngModel)]="selectedFilm"
                                placeholder="Select a Film"
                                optionLabel="title"
                                [showClear]="true">
                        </p-dropdown>
                        <app-field-error-display [displayError]="isFieldValid('filmList')"
                                                 errorMsg="Film is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div class="form-group" [ngClass]="displayFieldCss('title')">
                    <div class="col-sm-12">
                        <label for="title" class="control-label required">Film/Sub Film Name</label>
                        <input type="text" id="title" class="form-control"
                               formControlName="title">
                        <app-field-error-display [displayError]="isFieldValid('title')"
                                                 errorMsg="Film Name is required">
                        </app-field-error-display>
                    </div>
                </div>

                <div *ngIf="isShow" class="form-group" [ngClass]="displayFieldCss('rating')">
                    <div class="col-sm-12">
                        <label for="rating" class="control-label required">Film/Sub Film Name</label>

                        <p-rating id="rating" class="form-control"
                                  formControlName="rating" [(ngModel)]="ratingVal" [cancel]="false" ></p-rating>

                        <app-field-error-display [displayError]="isFieldValid('rating')"
                                                 errorMsg="Film Name is required">
                        </app-field-error-display>
                    </div>
                </div>

                <div class="form-group" [ngClass]="displayFieldCss('description')">
                    <div class="col-sm-12">
                        <label for="description" class="control-label required">Description</label>
                        <input type="text" id="description" class="form-control"
                               formControlName="description">
                        <app-field-error-display [displayError]="isFieldValid('description')"
                                                 errorMsg="Description is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div class="form-group" [ngClass]="displayFieldCss('releaseDate')">
                    <div class="col-sm-12">
                        <label for="releaseDate" class="control-label required">Release Date </label>
                        <p-calendar id="releaseDate"
                                    class="form-control"
                                    formControlName="releaseDate"
                                    [(ngModel)]="selectedReleaseDate"
                                    [readonlyInput]=true
                                    [showIcon]=true
                        ></p-calendar>
                        <app-field-error-display [displayError]="isFieldValid('releaseDate')"
                                                 errorMsg="Release Date is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div *ngIf="isEdit" class="form-group" [ngClass]="displayFieldCss('subfilms')">
                    <div class="col-sm-12">
                        <label for="subfilms" class="control-label required">Sub-Film List</label>
                        <p-multiSelect
                                id="subfilms"
                                class="form-control"
                                formControlName="subfilms"
                                [options]="subFilms"
                                [(ngModel)]="selectedSubFilms"
                                optionLabel="title"
                                optionValue="id"
                                defaultLabel="Select Sub-films"
                        ></p-multiSelect>
                        <app-field-error-display [displayError]="isFieldValid('subfilms')"
                                                 errorMsg="Sub-Film is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div class="form-group" [ngClass]="displayFieldCss('geners')">
                    <div class="col-sm-12">
                        <label for="geners" class="control-label required">Gener List</label>
                        <p-multiSelect
                                id="geners"
                                class="form-control"
                                formControlName="geners"
                                [options]="genres"
                                [(ngModel)]="selectedGenres"
                                optionLabel="name"
                                optionValue="id"
                                defaultLabel="Select Geners"
                        ></p-multiSelect>
                        <app-field-error-display [displayError]="isFieldValid('geners')"
                                                 errorMsg="Gener is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

                <div [ngClass]="displayFieldCss('filmPerson')">
                    <div class="col-sm-12">
                        <label for="filmPerson" class="control-label required">Film Person</label>
                        <p-multiSelect
                                id="filmPerson"
                                class="form-control"
                                formControlName="filmPerson"
                                [options]="persons"
                                [(ngModel)]="selectedPersons"
                                optionLabel="name"
                                optionValue="id"
                                defaultLabel="Select a Film Person"
                        ></p-multiSelect>
                        <app-field-error-display [displayError]="isFieldValid('filmPerson')"
                                                 errorMsg="Film Person is required">
                        </app-field-error-display>
                    </div>
                </div>
                <br>

            </form>


        </modal-content>
        <modal-footer>
            <button class="btn btn-outline-danger" (click)="closeModal()">Close</button> &nbsp;
            <button *ngIf="isNew" class="btn btn-outline-success" (click)="onSubmit()">Create Film</button>
            <button *ngIf="isEdit" class="btn btn-outline-success" (click)="update()">Update</button>
        </modal-footer>
    </modal>
</div>