<div class="col-md-5">
    <p-toast key="toast-key"
             position="top-right"
    ></p-toast>

    <div class="text-center">
        <h2>Sign In</h2>
    </div>
    <br>
    <form class="form-control" [formGroup]="form">
        <br>
        <div class="form-group" [ngClass]="displayFieldCss('username')">
            <div class="col-sm-12">
                <label for="username" class="control-label required">Username</label>
                <input type="text" id="username" class="form-control"
                       formControlName="username">
                <app-field-error-display [displayError]="isFieldValid('username')"
                                         errorMsg="Username is required">
                </app-field-error-display>
            </div>
        </div>
        <br>
        <div class="form-group" [ngClass]="displayFieldCss('password')">
            <div class="col-sm-12">
                <label for="password" class="control-label required">Password</label>
                <input type="password" id="password" class="form-control"
                       formControlName="password">
                <app-field-error-display [displayError]="isFieldValid('password')"
                                         errorMsg="Password is required">
                </app-field-error-display>
            </div>
        </div>
        <br>
        <br>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="handleLogin()">Sign in</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary btn-block mb-4" (click)="handleCancel()">Cancel</button>

        <!-- 2 column grid layout for inline styling -->
        <!--<div class="row mb-4">
            <div class="col">
                &lt;!&ndash; Simple link &ndash;&gt;
                <a href="#!">Forgot password?</a>
            </div>
        </div>-->

        <div class="text-center">
            <p>Not a member? <a href="/signup">Register</a></p>
            <!--            <p>or sign up with:</p>-->
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>

    </form>


</div>
