<div class="container">
    <p-toast key="toast-key"
             position="top-right"
    ></p-toast>
    <p style="font-size: 22px;">Welcome : {{username}}</p>
    <button class="btn btn-outline-primary" (click)="handleLogOut()" >Logout</button>
    <br>
    <br>

    <div>
        <input
                id="file"
                type="file"
                multiple
                class="form-control"
                (change)="onFileChange($event)">
    </div>
    <br>
    <button class="btn btn-primary" type="submit" (click)="handleFileUpload()">Upload</button>

    <div>
        <p-table [value]="files">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Filename</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-file>
                <tr>
                    <td>{{file.id}}</td>
                    <td>{{file.filename}}</td>
                    <td>{{file.approvalRequest == null ? '' : file.approvalRequest}}</td>
                    <td>{{file.createdAt}}</td>
                    <td style="min-width: 180px">
                        <button *ngIf="!file.isBlockListed" class="btn btn-outline-primary"
                                (click)="download($event, file.id)">Download
                        </button>

                        <button *ngIf="file.isBlockListed" class="btn btn-success"
                                (click)="unblockRequest(file.id)">Unblock Request
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

