<div class="col-md-5">
    <p-toast key="toast-key"
             position="top-right"
    ></p-toast>

    <div class="text-center">
        <h2>User Sign Up</h2>
    </div>
    <br>

    <br>
    <form class="form-control" [formGroup]="form">
        <br>
        <div class="form-group" [ngClass]="displayFieldCss('fullName')">
            <div class="col-sm-12">
                <label for="username" class="control-label required">FullName</label>
                <input type="text" id="fullName" class="form-control"
                       formControlName="fullName">
                <app-field-error-display [displayError]="isFieldValid('fullName')"
                                         errorMsg="FullName is required">
                </app-field-error-display>
            </div>
        </div>
        <br>
        <div class="form-group" [ngClass]="displayFieldCss('username')">
            <div class="col-sm-12">
                <label for="username" class="control-label required">Username</label>
                <input type="text" id="username" class="form-control"
                       formControlName="username">
                <app-field-error-display [displayError]="isFieldValid('username')"
                                         errorMsg="Username is required">
                </app-field-error-display>
            </div>
        </div>
        <br>
        <div class="form-group" [ngClass]="displayFieldCss('password')">
            <div class="col-sm-12">
                <label for="password" class="control-label required">Password</label>
                <input type="text" id="password" class="form-control"
                       formControlName="password">
                <app-field-error-display [displayError]="isFieldValid('password')"
                                         errorMsg="Password is required">
                </app-field-error-display>
            </div>
        </div>
        <br>
        <br>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="handleSignUp()">Sign Up</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary btn-block mb-4" (click)="handleCancel()">Cancel</button>


    </form>


</div>
